@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.login h1{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin-top: 20px;
    background: -webkit-linear-gradient(#11c12f, #6bbdf1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.login{
    display: grid;
    place-items: center;
    height: 100vh;
}
.logo img{
    object-fit: contain;
    height: 150px;
}
.login button{
    width: 300px;
    background-color: #3ea4fb;
    color: #eff2f5;
    font-weight: 800;
}
.login button:hover{
    background-color: gainsboro;
    color: #3ea4fb;
}